 body{
            background-color: rgb(52, 4, 60);
            font-family:Arial, Helvetica, sans-serif ;
            font-size: 20px;
        }
        p{
            text-align: justify; 
             color: white;
        }
        h1{
            color: rgb(245, 245, 248);
            background-color: rgba(3, 36, 79, 0.548);
        }
        h2{
            color: brown;
        }
       
        