@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header>h1{
    padding: 50px;
    font-variant: small-caps;
}

header>p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(38, 37, 37);
    color: white;
}

.imagem>p{
    width: 400px;
    background-color: rgb(48, 46, 46);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}