@charset  "UTF=8";

*{
     font-family: Arial, Helvetica, sans-serif;
     height: 100%;
}

p{
    text-align: justify;
}

main{
    height: auto;
    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #163124b8;
    width: 500px;
    padding: 10%;
    margin: auto;
}
h1{
   color: #0B2559;
   text-align: center;
   text-shadow: 1px 1px 2px #081a3e99 ;
}
h2{
    color: #183B59;
}
    

body{
    background-image: linear-gradient(to top,#2A5159,#327355);
    background-attachment: fixed;
}